<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="64x64" href="../../assets/images/favicon-logo-white.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <title>Glasses | 看得清，才看得遠</title>
</head>
<body class="store-page">
  <%- include('./layout/header.ejs') -%>
  <main class="container">

    <div>
      <h1 class="h2">門市據點</h1>
      <div class="select-city">
        <label for="city" class="h3">選擇地區</label>
        <select name="city" id="city">
          <option value="Taipei">台北市</option>
          <option value="Taichung">台中市</option>
          <option value="Kaohsiung">高雄市</option>
        </select>
      </div>
    </div>

    <section class="section-stores">
      <div class="store-card">
        <img src="../../assets/images/../../assets/images/store-1.png" alt="taipei-zhongshan-flagship-store">
        <h2 class="h3 card-text">台北市中山旗艦店</h2>
        <ul class="card-text">
          <li class="p1">
            <img src="../../assets/images/icons/ic_phone-black.svg" alt="icon-phone">
            <p>電話：(02)000-1234</p>
          </li>
          <li class="p1">
            <img src="../../assets/images/icons/ic-clock.svg" alt="icon-clock">
            <p>營業時間：10:00-21:00</p>
          </li>
          <li class="p1">
            <img src="../../assets/images/icons/ic-location.svg" alt="icon-location">
            <p>地址：台北市中山區南京東路25巷2-1號</p>
          </li>
        </ul>
        <button type="button" class="btn">詳細資訊</button>
      </div>
      <div class="store-card">
        <img src="../../assets/images/store-2.png" alt="taipei-green-park-store">
        <h2 class="h3 card-text">台北綠園店</h2>
        <ul class="card-text">
          <li class="p1">
            <img src="../../assets/images/icons/ic_phone-black.svg" alt="icon-phone">
            <p>電話：(02)000-2345</p>
          </li>
          <li class="p1">
            <img src="../../assets/images/icons/ic-clock.svg" alt="icon-clock">
            <p>營業時間：10:00-21:00</p>
          </li>
          <li class="p1">
            <img src="../../assets/images/icons/ic-location.svg" alt="icon-location">
            <p>地址：台北市中正區復興南路 132-1 號</p>
          </li>
        </ul>
        <button type="button" class="btn">詳細資訊</button>
      </div>
      <div class="store-card">
        <img src="../../assets/images/store-3.png" alt="taichung-qingshui-store">
        <h2 class="h3 card-text">台中清水旗艦店</h2>
        <ul class="card-text">
          <li class="p1">
            <img src="../../assets/images/icons/ic_phone-black.svg" alt="icon-phone">
            <p>電話：(02)000-1234</p>
          </li>
          <li class="p1">
            <img src="../../assets/images/icons/ic-clock.svg" alt="icon-clock">
            <p>營業時間：10:00-21:00</p>
          </li>
          <li class="p1">
            <img src="../../assets/images/icons/ic-location.svg" alt="icon-location">
            <p>地址：台中市清水區經南一路 23 號 8 樓</p>
          </li>
        </ul>
        <button type="button" class="btn">詳細資訊</button>
      </div>
      <div class="store-card">
        <img src="../../assets/images/store-4.png" alt="kaohsiung-zhongzheng-store">
        <h2 class="h3 card-text">高雄中正形象店</h2>
        <ul class="card-text">
          <li class="p1">
            <img src="../../assets/images/icons/ic_phone-black.svg" alt="icon-phone">
            <p>電話：(07)000-2345</p>
          </li>
          <li class="p1">
            <img src="../../assets/images/icons/ic-clock.svg" alt="icon-clock">
            <p>營業時間：10:00-21:00</p>
          </li>
          <li class="p1">
            <img src="../../assets/images/icons/ic-location.svg" alt="icon-location">
            <p>地址：高雄市苓雅區中正路 38 號 12 樓</p>
          </li>
        </ul>
        <button type="button" class="btn">詳細資訊</button>
      </div>
      <div class="store-card">
        <img src="../../assets/images/store-5.png" alt="kaoshiung-dreammall-store">
        <h2 class="h3 card-text">高雄夢時代店</h2>
        <ul class="card-text">
          <li class="p1">
            <img src="../../assets/images/icons/ic_phone-black.svg" alt="icon-phone">
            <p>電話：(07)000-1234</p>
          </li>
          <li class="p1">
            <img src="../../assets/images/icons/ic-clock.svg" alt="icon-clock">
            <p>營業時間：10:00-21:00</p>
          </li>
          <li class="p1">
            <img src="../../assets/images/icons/ic-location.svg" alt="icon-location">
            <p>地址：高雄市前鎮區中華一路 63 號 6 樓</p>
          </li>
        </ul>
        <button type="button" class="btn">詳細資訊</button>
      </div>
    </section>

  </main>
  <%- include('./layout/footer.ejs') -%>
  <script type="module" src="../../main.js"></script>
</body>
</html>