<footer>
  <div class="container footer-content">
    <div class="footer-top">
      <div>
        <nav>
          <ul>
            <li><a href="./index.html">首頁</a></li>
            <li><a href="">系列鏡框</a></li>
            <li><a href="">門市據點</a></li>
            <li><a href="">部落格</a></li>
            <li><a href="">常見問題</a></li>
          </ul>
        </nav>
        <ul class="footer-contact">
          <li>
            <img src="../../assets/images/icons/ic_phone.svg" alt="">
            <a href="">0800-000-00</a>
          </li>
          <li>
            <img src="../../assets/images/icons/ic_mail.svg" alt="">
            <a href="">glasses@business.co</a>
          </li>
        </ul>
      </div>
      <div>
        <ul class="social-media-icons">
          <li><a href=""><img src="../../assets/images/ic-social-fb.png" alt=""></a></li>
          <li><a href=""><img src="../../assets/images/ic_social_ig.png" alt=""></a></li>
          <li><a href=""><img src="../../assets/images/ic_social_line.png" alt=""></a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p class="p2">Copyright © 2020 Glasses.All rights reserved.</p>
      <ul>
        <li><a href="">隱私權政策</a></li>
        <li><a href="">服務條款</a></li>
      </ul>
    </div>
  </div>
</footer>