.container {
  max-width: 1362px;
  margin: 0 auto;
  padding-inline: 36px;
}

@media (max-width: 655px) {
  .container {
    padding-inline: 14px;
  }
}

.uppercase-red {
  text-transform: uppercase;
  font-style: italic;
  color: $primary;
}

.btn {
  background-color: $primary;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
}

.section-hero {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .section-hero-content {
    padding-block: 300px;
    color: $dark-red;
    text-align: right;
  }

  p {
    font-size: 36px;
    line-height: 54px;
  }

  .hero-btn {
    padding: 6px 12px;
    margin-top: 4px;
    font-size: 20px;
    line-height: 30px;
  }
}


.section-intro {
  background-color: $bg;
  padding-block: 80px;

  .section-intro-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-top: 32.33px;
  }

  h2 {
    text-align: center;
  }

  img {
    width: 83.3px;
  }

  .intro-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      margin-top: 24.33px;
    }
  
    p {
      margin-top: 8px;
    }
  }
}


.section-classic {
  padding-block: 80px;

  .section-classic-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 48px;
  }

  h2,
  .uppercase-red {
    text-align: center;
  }

  .uppercase-red {
    margin-top: 8px;
  }

  .classic-card {
    display: flex;
    flex-direction: column;
  }

  .classic-card img {
    max-width: 100%;
    flex: 1;
    display: block;
  }
}


.section-collab-content {
  padding-block: 80px;
  color: #FFFFFF;

  h2 {
    color: #FFFFFF;
    text-align: center;
  }

  h4 {
    background: #FFFFFF;
    text-align: center;
  }

  .section-collab-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 48px;
  }

  .collab-card img {
    max-width: 100%;
    display: block;
  }

}


.section-testimonial {
  padding-block: 80px;

  .section-testimonial-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-top: 48px;
  }

  h2 {
    text-align: center;
  }

  .testimonial-card {
    height: 511px;
    border: 1px solid #DEE2E6;
    border-radius: 4px;
    box-shadow: 0px 2px 6px #00000029;
    display: flex;
    flex-direction: column;

    & > div {
      flex: 1;
      padding: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    img {
      max-width: 100%;
      display: block;
    }

    span {
      color: $grey;
    }
  }

}

.section-contact {
  background-color: $bg;

  .section-contact-content {
    max-width: 636px;
    margin: 0 auto;
    padding-block: 80px;
  }

  h2 {
    text-align: center;
  }

  .contact-form-container {
    margin-top: 48px;
  }

  .contact-form {
    margin-top: 24px;

    label,
    input,
    textarea {
      display: block;
      width: 100%;
      box-sizing: border-box;
    }

    input,
    textarea {
      background-color: transparent;
      border: 1px solid #000000;
      padding: 6px 12px;
    }

    .form-control,
    .form-btn {
      margin-top: 16px;
    }

    textarea {
      height: 136px;
    }

    .form-control-policy {
      display: flex;
      align-items: center;
      gap: 4px;
    }

    input[type="checkbox"],
    input[type="checkbox"]+label {
      margin: 0;
      padding: 0;
    }

    input[type="checkbox"] {
      appearance: none;
      height: 16px;
      width: 16px;
      border-radius: 2px;
      background-color: transparent;
    }

    input[type="checkbox"]:checked {
      content: url('../images/icons/ic_check.svg');
      background-color: $primary;
      color: #FFFFFF;
    }

    label {
      margin-bottom: 8px;
      font-size: 16px;
      line-height: 24px;
    }

    .form-btn {
      width: 60%;
      max-width: 380px;
      display: block;
      margin-inline: auto;
      margin-top: 48px;
      padding-block: 16px;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

@media (max-width: 887px) {
  
  .section-intro {
    .section-intro-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .section-classic {
    .section-classic-grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
    .classic-card {
      margin: 0 auto;
    }
    .classic-card img {
        max-width: 336px;
    }
  }

  .section-collab {
    .section-collab-grid {
      grid-template-columns: repeat(1, 1fr);
      gap: 24px;
    }
  }

.section-testimonial {
  .section-testimonial-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


  .social-media-icons {
    gap: 16px;
    img {
      max-width: 40px;
    }
  }
}

@media (max-width: 655px) {

  .section-hero {
    p {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .section-hero {
    height: 396px;
    background-image: url(./assets/home-header.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .section-hero-content {
      padding-block: 0;
      margin: 0;
    }
  }

  .section-intro {
    .section-intro-grid {
      grid-template-columns: repeat(1, 1fr);
      gap: 32.22px;
      margin-top: 32.08px;
      .intro-card h3 {
        margin-top: 24.08px;
      }
    }
  }

  .section-testimonial {
    .section-testimonial-grid {
      grid-template-columns: repeat(1, 1fr);
      .testimonial-card {
        height: auto;
        min-height: 511px;
      }
  }
  }
  .section-contact {
    .contact-form {
      .form-control-policy {
        align-items: start;
      }
    
      input[type="checkbox"] {
        margin-top: 4px;
      }
    
      .form-btn {
        width: 100%;
      }
    }
  }

  .section-intro {
    padding-block: 40px;
  }

  .section-classic {
    padding-block: 40px;
  }

  .section-collab-content {
    padding-block: 40px;
  }

  .section-testimonial {
    padding-block: 40px;
  }

  .section-contact-content {
    padding-block: 40px;
  }
}