.store-page {
  .h2 {
    color: #000000;
    padding-inline: 16px;
    border-left: 8px solid #9F1213;
  }
  .h3 {
    color: #000000;
    font-weight: 400;
  }
  main {
    margin-block: 96px 80px;
  }
}

.select-city {
  margin-top: 33px;
  display: flex;
  align-items: center;
  label {
    margin-right: 16px;
  }
  select {
    width: 304px;
    height: 38px;
    padding-inline: 12px;
  }
}

.section-stores {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-top: 41px;
}

.store-card {
  border: 1px solid #00000020;

  h2 {
    border-bottom: 1px solid #00000020;
    padding-block: 8px;
  }

  img {
    width: 100%;
  }

  .card-text {
    padding-inline: 24px;
  }

  ul {
    margin-block: 16px;
    li {
      margin-top: 8px;
      display: flex;
      align-items: start;
      gap: 10px;
      img {
        width: 24px;
        margin-top: 2px;
      }
    };
  }

  .btn {
    width: 100%;
    background-color: #000000;
    font-size: 19px;
    line-height: 27px;
    padding-block: 16px;
  }
}

@media (max-width: 855px) {
  .section-stores {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 655px) {
  .section-stores {
    grid-template-columns: repeat(1, 1fr);
  }
}